*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height:100%;
    background:linear-gradient(pink , rgb(56, 56, 233));
}
.box{
    background-color: aliceblue;
    margin: 100px;
    padding: 10px 10px;
    width: 300px;
    border: 2px solid black;
    height: min-content;
    /* margin: auto; */
    box-shadow: 15px 15px 20px white , -15px -15px 20px gray ;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-wrap: balance;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}