*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7d2ae8;
}
.container{
    max-width: 850px;
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    position: relative;
    perspective: 2800px;
}
.container .cover{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 50%;
    top: 0;
    z-index: 98;
    /* background-color: red; */
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}
.container .cover img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: hidden !important;
}
.container .cover .back .backImg{
    transform: rotateY(180deg);
}
.container .cover .text{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 111;
    align-items: center;
}
.container .cover .text .text-1,
.container .cover .text .text-2{
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    backface-visibility: hidden;
}
.container .cover .text .text-2{
    font-size: 15px;
    font-weight: 500;
}
.container .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #7d2ae8;
    opacity: 0.5;
    z-index: 100;
}
.container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}
.container form{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
    width: calc(100% / 2 -25px);
    /* background-color: red; */
}
form .form-content .title{
    font-size: 25px;
    font-weight: 500;
    color: #333;
    position: relative;
}
form .form-content .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background-color: #7d2ae8;
}
form .signup-form .title::before{
    width: 20px;
}
form .form-content .input-boxes{
    margin-top: 30px;
}
form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
    border-color: #7d2ae8;
}
.form-content .input-box i{
    position: absolute;
    color: #7d2ae8;
    font-size: 17x;
    /* font-weight: 500; */
}
form .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
form .form-content .text a{
    text-decoration: none;
}
form .form-content .text a:hover{
    text-decoration: underline;
}
form .form-content .button{
    color: #fff;
    margin-top: 40px;
}
form .form-content .button input{
    color: #fff;
    background-color: #7d2ae8;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
form .form-content .button input:hover{
    background-color: #5b13b9;
}
form .form-content label{
    color: #5b13b9;
}
form .form-content label:hover{
    text-decoration: underline;
}
form .form-content .login-text,
form .form-content .sign-up-text{
    text-align: center;
    margin-top: 25px;
}