*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
.pimg1{
    background-image: url('./Assests/bg1.jpg');
    min-height: 100%;
}
.pimg2{
    background-image: url('./Assests/bg2.jpg');
    min-height: 400px;
}
.pimg3{
    background-image: url('./Assests/bg3.jpg');
    min-height: 400px;
}
.pimg1,.pimg2,.pimg3{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-position: center;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.textbg{
    background: #313534;
    color: #fff;
    padding: 20px;
}
.section{
    padding: 50px 80px;
    text-align: center;
}
.section-light{
    background-color: #f4f4f4;
    color: #666;
}
.section-dark{
    background: #282e34;
    color: #ddd;
}