*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    /* background-color: #0b0d10; */
    background-color: #f9f9f9;
}
.button{
    padding: 1em 2em;
    background-color: #161a20;
    color: #f0f0f0;
    border-radius: 1000px;
    border: none;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button::after{
    content: '';
    border-radius: 1000px;
    width: 102%;
    height: 107%;
    background: linear-gradient(to bottom right, #008cff, #e100ff);
    position: absolute;
    z-index: -1;
}
.button:hover{
    z-index: 0;

/* box-shadow: 40px 0 100px #008cff, -40px 0 100px #e100ff; */
}
.shadow{
    /* margin-top: 100px; */
    margin-right: 100px;
    margin-inline: auto;
    background-color: white ;
    border: none;
    
}
.shadow:hover{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1) , -1px -1px 1px white ; 
}