*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.crusal{
    width: 100%;
    overflow: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
}
/*  important */.crusal::-webkit-scrollbar{    /*  important */
    display: none;
}
.crusal::scroll-button(right) , .crusal::scroll-button(left){
    content:'>';
    border: none;
    color: white;
    font-size: 3rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: red;
    padding: .1em;
    cursor: pointer;
}
.crusal::scroll-button(left){
    content:'<';
}
.crusal::scroll-button(right):disabled , .crusal::scroll-button(left):disabled{
    opacity: .5;
    cursor: auto;
}
.card{
    height: 12em;
    background-color: gray;
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    align-content: center;
    flex: 0 0 20em;
}